extends ../layout
block style
  link(rel='stylesheet', href='/styles/datasource/scSrc2016.css')
block link
  -var selected = 'source'
block content
  #scSrc2016.container
    table
      thead
        tr
          th 日期
          th 標題
          th 連結
          th 問題及備註
      tbody
        tr(v-for='data in datasource')
          td.date
            p {{ data.date }}
          td.title
            p {{ data.title }}
          td.url
            a(:href='data.url', target='_blank') 點擊開啟
          td.note
            p(v-for='note in data.notes') {{ note }}
block append js
  script(src='/js/datasource/sc2016.js')