extends layout
block style
  link(rel='stylesheet', href='./styles/attendence.css')
block link
  -var selected = 'index'
block content
  include ./nav.pug
  #attendence.main-block
block append js
  script(src='./js/attendence.js')