extends ./layout
block style
  link(rel='stylesheet', href='/styles/index.css')
block link
  -var selected = 'index'
block content
  #infographics
    .container
      .row
        .col-xs-12.col-sm-4(v-for='site in infographics')
          .card
            a.img-card(:href='site.link')
              img(:src='site.img')
            br
            .card-content
              h4.card-title
                a(:href='site.link')
                  | {{ site.title }}
              p
                | {{ site.description }}
            .card-read-more
              a.btn.btn-link.btn-block(:href='site.link')
                | Read More
block append js
  script(src='./js/index.js')
  