extends ./layout
block style
  link(rel='stylesheet', href='/styles/source.css')
block link
  -var selected = 'source'
block content
  #source
    .container
      .row
        .col-xs-12.col-sm-4(v-for='site in datasource')
          .card
            a.img-card(:href='site.link')
              img(:src='site.img')
            br
            .card-content
              h4.card-title
                a(:href='site.link')
                  | {{ site.title }}
              p
                | {{ site.description }}
            .card-read-more
              a.btn.btn-link.btn-block(:href='site.link')
                | Read More
block append js
  script(src='/js/source.js')