extends ./layout
block style
  link(rel='stylesheet', href='/styles/source.css')
block link
  -var selected = 'source'
block content
  #source.main-block
    .container
      .row
        .col-xs-12.col-sm-4
          .card(v-for='site in datasource')
            a.img-card(v-bind:href='site.link')
              img(v-bind:src='site.img')
            br
            .card-content
              h4.card-title
                a(v-bind:href='site.link')
                  | {{ site.title }}
              p
                | {{ site.description }}
            .card-read-more
              a.btn.btn-link.btn-block(v-bind:href='site.link')
                | Read More
block append js
  script(src='/js/source.js')