extends layout
block style
  link(rel='stylesheet', href='./styles/sourse.css')
block link
  -var selected = 'sourse'
block content
  include ./nav.pug
  #sourse
block append js
  script(src='./js/sourse.js')